# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
**/.vuepress/dist/
**/.vuepress/.cache/
**/.vuepress/.temp/
**/.vuepress/temp/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
